
body{

}


/*navbar*/
.navbar {
  background-color: darkred;
  margin-bottom: -10px;
}

.navlink{
  color: white;
}
.navlink:hover, 
.navlinkwhite{
  color: teal;
}




/*carousel*/
img
{
  width: auto;
  height: 100%;
  max-height: 275px;
  width: 100%;
  margin:auto;
}
.carousel-caption{
  font-size: 2em;
  text-shadow:1px 1px teal;
}

.carousel{
  margin-top: 10px;
}

/*body*/
td {
  height: 100px;
}

/*search panel*/
.panel {
  padding-bottom: 200px;
}
#searchbar {
  margin-top: 75px;
}

/*panel*/

/*main*/
.main h2 {
  text-decoration: underline;
  text-align: center;
  color: darkred;
}

.main h3 {
  margin-top: 0;
}
.hotels, .listing {
  overflow: hidden;
}


/*footer*/
.dropdown-menu{
  left:14px;
}
footer {
  position:fixed;
  background-color: darkred;
  color: white;
  margin-top: 5px;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
}