
body{

}


/*navbar*/
.navbar {
  background-color: darkred;
  margin-bottom: -10px;
}

.navlink{
  color: white;
}
.navlink:hover, 
.navlinkwhite{
  color: teal;
}




/*carousel*/
img
{
  width: auto;
  height: 100%;
  max-height: 275px;
  width: 100%;
  margin:auto;
}
.carousel-caption{
  font-size: 2em;
  text-shadow:1px 1px teal;
}

.carousel{
  margin-top: 10px;
}

/*body*/
td {
  height: 100px;
}

/*search panel*/
.panel {
  padding-bottom: 200px;
}
.panel-body {
  padding-bottom: 0;
}

.dropdown-menu{
  left:14px;
}

#searchbar {
  margin-top: 75px;
}

.btn-lg {
  padding: 10px;
}

#amenities {
  border-radius: 10px;
}

/*panel*/

/*main*/
.main h2 {
  text-decoration: underline;
  text-align: center;
  color: darkred;
}

.main h3 {
  margin-top: 0;
}
.hotels, .listing {
  overflow: hidden;
}

.listing {
    border-bottom: 1px darkred solid;
}

#moreOptions {
  padding: 0;
  padding-left: 20px;
}

#moreOptions:hover, #moreOptions:focus {
  text-decoration: none;
}

/*footer*/

footer {
  background-color: darkred;
  color: white;
  margin-top: 5px;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
}




